<div class="container">
  <div class="alert alert-success" *ngIf="successMessage$ | async as successMessage">{{successMessage}}</div>
  <div class="alert alert-alert" *ngIf="alertMessage$ | async as alertMessage">{{alertMessage}}</div>
</div>
<ng-container>
    <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="filter()">
      <input type="text" formControlName="filterName" placeholder="Descripción" ngModel />
      <input type="submit" value="buscar" />
      <button class="clear" (click)="clear()" >limpiar</button>
    </form>
    <div class="center">
    <table class="table-data">
      <thead >
        <tr>
          <th class="row-name">Nombre</th>
          <th class="row-description">Descripción</th>
          <th class="row-action">Acción</th>
        </tr>
      </thead>
      <tbody *ngFor="let post of postData">
          <app-post-list style="display: contents;" [dataPost]="post"></app-post-list>
      </tbody>
    </table>
</div>
</ng-container>



<form class="submit-form" [formGroup]="postForm" (ngSubmit)="madePost()">
  <input class="name-input" type="text" formControlName="name" placeholder="NOmbre" ngModel />
  <input type="text" formControlName="description" placeholder="Descripción" ngModel />
  <input type="submit" value="crear" />
</form>
